# Python
__pycache__/
*.py[cod]

# Virtualno okolje
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Shranjene spletne strani (prevelike, jih lahko znova prenesemo)
html/

# Skrivnosti in urejevalnik
.env
.vscode/